@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:900');

* {
    box-sizing: border-box;
}
.box {
    color:white;
    font-size: 100px;
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    padding:15px;
  }
  
  .box1 { background:#eccc68;}
  .box2 { background:#ff6348;}
  
.container {
    display: flex;
}

